@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colores del light que sería el default */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Colores del darkmode */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
