@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f0f0;
  --foreground: #171717;
  --toast-bg: #f9f9f9;
  --toast-color: #333;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --toast-bg: #333;
  --toast-color: #f9f9f9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
