@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: rgb(20, 20, 20);
  color: #16cdee; 
}

::-webkit-selection {
  background-color: rgb(20, 20, 20);
  color: #16cdee; 
}

:root {
  --background: #f0f0f0;
  --foreground: #171717;
  --toast-bg: #f9f9f9;
  --toast-color: #333;

  --blue-cyan: #1397af;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --toast-bg: #333;
  --toast-color: #f9f9f9;

  --blue-cyan: #16cdee;
}

body {
  color: var(--foreground);
  background: var(--background);

  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

@media (max-width: 640px) {
  .disable-motion-sm {
    transform: none !important;
    opacity: 1 !important;
    transition: none !important;
  }
  
  .disable-motion-sm:hover {
    transform: none !important;
  }
}